*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(95, 158, 160);

    
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
    padding: 10px;
}

main h1, h2{
    color: rgb(51, 161, 167);
    font-size: 24px;
}
main a img{
    margin-left: 450px;
}
main a{
    text-decoration: none;
    color: black;
}
main a:hover{
    color: blue;
}


main .lado{
    float: right;
}